.dialog-container{
    background-color: white;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

header{
    display: flex;
    gap: 8px;
}

header p{
    flex: 1;
}

main{
    display: flex;
    gap: 8px;
}

.li-container{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.label-input{
    display: flex;
    gap: 8px;
}

.label-input label{
    flex: 1;
}

.label-input input{
    flex: 1;
}