<div class="dialog-container">

    <header>
        <p>
            Add Room
        </p>

        <button (click)="closeDialog()">Close</button>
    </header>

    <form [formGroup]="roomFormGroup">
        <main>
        
            <div class="labels">
                <label for="name">Name: </label>
                <label for="room-category">Room Category: </label>
            </div>
    
            <div class="inputs">
                <input formControlName="name" type="text" id="name">
                <select formControlName="rc" id="room-category">
                    <option value="">--Select Room Category--</option>
                    <option *ngFor="let rc of roomCategories" [value]="rc.room_category_id">{{rc.room_category_name}}</option>
                </select>
            </div>

            <div *ngFor="let rc of roomService.rooms">{{rc.room_id}}</div>
    
        </main>
    </form>

    <button [disabled]="!roomFormGroup.valid" (click)="saveForm()"> Add </button>

</div>
