.addon-container{
    flex: 1;
    padding: 16px;
    overflow: auto;
}

.addon-table{
    margin-top: 8px;
    display: flex;
    flex-direction: column;
}

.addon-table-head{
    display: flex;
    margin-bottom: 8px;
    gap: 1px;
}

.addon-table-data{
    display: flex;
}

.addon-heading{
    flex: 0 0 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #cacaca;
    border-bottom: 1px solid black;
}

.addon-data{
    flex: 0 0 180px;
    display: flex;
    align-items: start;
    justify-content: center;
    border-bottom: 1px solid #cacaca;
    padding: 8px;
}

.addon-controls{
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
}